@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    /* font-family: 'Arial', sans-serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6c63ff;
}

hr {
    border: 1px solid rgb(236, 230, 230);
    width: 100%;
    /* height: 0.1px; */
}

.profile-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-direction: row;
    align-items: center;
    justify-content: space-around; */

    display: flex;
    justify-content: center; /* Center the cards horizontally */
    align-items: center; /* Center the cards vertically */
    gap: 20px; /* Space between the cards */
    padding: 20px; /* Padding around the container */
}


.profile-card, .profile-card1 {
    background: white;
    border-radius: 2px;
    overflow: hidden;
    width: 300px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 30px 30px rgb(0, 0, 0, 0.6);
    /* text-align: center; */
}

.profile-card1 {
    position: relative; /* Necessary for absolute positioning of overlay content */
    background: url('images/profile-card-pic.jpeg') no-repeat center center;
    background-size: cover; /* Cover the entire card with the background image */
}

.profile-header {
    padding: 20px;
    background-color: #f8f8f8;
    position: relative;
}

.profile-image1 {
    width: 300px;
    height: 300px;
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.gender-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #4a4a4a;
}

/* .genderIcon {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #4a4a4a;
} */

.profile-name {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: bold;
    color: #6c63ff;
}

.profile-title {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    color: #7a7a7a;
    font-weight: bold;
    margin-top: 10px;
}

.profile-details {
    padding: 20px;
    font-family: "Rubik", sans-serif;
}

.profile-bio {
    font-size: 13px;
    color: #7a7a7a;
    margin-bottom: 20px;
}



.profile-stats {
    display: flex;
    justify-content: space-between;
}

.stats {
    text-align: center;
}

.stats-number {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}

.stats-label {
    font-size: 12px;
    color: #7a7a7a;
}

.follow-button {
    width: 93%;
    margin: 10px;
    padding: 15px;
    background-color: #6c63ff;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.follow-button:hover {
    background-color: #534bc0;
}

.following {
    background-color: #4a4a4a;
}